[Unit]
Description = AwesomeZooService
After = network.target 
 
[Service]
Type = simple
WorkingDirectory = {{ source_folder }}/service
ExecStart = {{ source_folder }}/service/run.sh
User = root
Restart = on-failure 
Environment="PATH={{ venv }}/bin"

RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target